img {
   padding: 1em 2em 1em;
   height:auto;
   margin: auto;
   display:flex;
   justify-content: center;
}

.aboutText {
   padding: 30px;  
   margin: 100px;
   max-width: 500px;
   margin: auto;
}

.alpacaBar {
   flex-direction: row;
   /* align-content: space-between; */
   justify-content: space-between;
}

.alpacaProfileLink {
  display:flex; 
  justify-content: center;
}

.alpacaTitle {
   display: flex;
   flex-direction: row;
   justify-content: center;  
}

.ProfileText {
  padding-top: 50px;
}

.container {
  padding-top: 50px;
}

.img-fluid {
  border-radius: 50%;
}

.index_title {
  padding-top: 50px;
}